<!DOCTYPE html>
 <html lang="en">
<head>
    <!-- <link rel="canonical" href="https://demo.themesberg.com/landwind/" /> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СЗ "Новгородсельстрой"</title>

    <!-- Meta SEO -->
    <meta name="title" content="СЗ &quot;Новгородсельстрой&quot;">
    <meta name="description" content="Get started with a free and open-source landing page built with Tailwind CSS and the Flowbite component library.">
    <meta name="robots" content="index, follow">
    <meta name="language" content="Russia">

    <!-- Social media share -->
    <meta property="og:title" content="СЗ &quot;Новгородсельстрой&quot;">
    <meta property="og:site_name" content="СЗ &quot;Новгородсельстрой&quot;">
    <!-- <meta property="og:url" content="https://demo.themesberg.com/landwind/"> -->
    <meta property="og:description" content="ООО &quot; Спецзастройщик &quot; Новгородсельстрой&quot; г. Великий Новгород, ул. Стратилатовская, 17">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/github/landwind/og-image.png"> -->

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/configs/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="/static/css/output.css" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen bg-gray-200 dark:bg-gray-800">
    <header class="sticky w-full top-0 shrink-0 z-50 shadow">
        <nav class="bg-white border-gray-200 py-2.5 dark:bg-gray-900">
            <div class="flex items-center px-4 mx-auto">
                <div class="shrink-0">
                    <a href="/" class="flex text-gray-500 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-400">
                        <svg class="h-24 w-24">
                            <use href="/static/svg/logo_color.svg#logo"></use>
                        </svg>
                    </a>
                </div>

                <div class="flex-1 flex justify-center">
                    <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                        <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                            <li>
                                <button id="projects-page-button" class="block py-2 pl-3 pr-4 text-gray-500 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-primary-400 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 transition-all active:scale-95">
                                    Проекты
                                </button>
                            </li>
                            <li>
                                <button id="promo-page-button" class="block py-2 pl-3 pr-4 text-gray-500 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-primary-400 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 transition-all active:scale-95">
                                    Акции
                                </button>
                            </li>
                            <li>
                                <button id="gallery-page-button" class="block py-2 pl-3 pr-4 text-gray-500 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-primary-400 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 transition-all active:scale-95">
                                    Наши объекты
                                </button>
                            </li>
                            <li>
                                <button id="media-page-button" class="block py-2 pl-3 pr-4 text-gray-500 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-primary-400 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 transition-all active:scale-95">
                                    Медиатека
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-1 flex flex-col bg-gray-200 dark:bg-gray-800">
        <div class="w-full">
            <div class="max-w-xl md:max-w-4xl lg:max-w-7xl mx-auto">
                {% include 'pages/admin/projects-subpage.html' %}
                {% include 'pages/admin/promo-subpage.html' %}
                {% include 'pages/admin/gallery-subpage.html' %}
                {% include 'pages/admin/media-subpage.html' %}
            </div>
        </div>
    </main>

    <div id="popup-container" class="fixed bottom-4 right-4 z-50 flex flex-col gap-3 w-[300px] max-h-[50vh] overflow-hidden">
    </div>

    <template id="popup-message-template">
        <div class="w-full shadow-md rounded-xl p-4 relative overflow-hidden transition-all duration-300 ease-in-out opacity-100 translate-y-0">
            
            <button name="close-button" class="absolute top-2 right-2 text-gray-400 hover:text-gray-600 dark:hover:text-gray-300">
                ✕
            </button>

            <h3 name="title" class="text-sm font-semibold text-gray-900 dark:text-white">
            </h3>

            <p name="text" class="mt-1 text-sm text-gray-600 dark:text-gray-300">
            </p>

            <div class="absolute bottom-0 left-0 h-1 w-full bg-gray-200 dark:bg-gray-700 hidden">
                <div name="progress-bar" class="h-full bg-blue-500 w-full transition-all duration-300"></div>
            </div>
        </div>
    </template>

    <div id="confirm-modal" class="fixed inset-0 z-50 hidden">
        <div name="background" class="absolute inset-0 bg-black/50"></div>

        <div class="flex items-center justify-center min-h-full p-4">
            <div class="relative w-full max-w-md bg-gray-200 dark:bg-gray-800 rounded-3xl shadow-xl p-6">
                <h2 class="text-lg font-semibold text-gray-800 dark:text-gray-300">Подтвердите действие</h2>
                <p name="description" class="mt-2 text-sm text-gray-600 dark:text-gray-400"></p>

                <div class="mt-6 flex justify-end gap-3">
                    
                    <button name="reject-button" class="bg-gray-300 hover:bg-gray-350  dark:bg-gray-600 dark:hover:bg-gray-500 text-gray-800 dark:text-gray-300 rounded-xl p-2 transition-all active:scale-95">
                        Отменить
                    </button>

                    <button name="submit-button" class="bg-primary-600 hover:bg-primary-700 dark:bg-primary-700 dark:hover:bg-primary-600 text-white dark:text-gray-300 dark:hover:text-gray-100 rounded-xl p-2 transition-all active:scale-95">
                        Подтвердить
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="tooltip-modal" class="fixed inset-0 z-[60] hidden">
        <div name="background" class="absolute inset-0 bg-black/50"></div>

        <div class="flex items-center justify-center min-h-full p-4">
            <div class="relative w-full max-w-md bg-gray-200 dark:bg-gray-800 rounded-3xl shadow-xl p-6">
                <div class="flex w-full justify-end">
                    <button name="close-button" class="flex items-center justify-center text-gray-400 hover:text-primary-500 peer-checked:text-primary-500">
                        <svg class="h-6 w-6">
                            <use href="/static/svg/x-mark.svg#x"></use>
                        </svg>
                    </button>
                </div>
                <div class="flex flex-1">
                    <p name="tooltip-text" class="text-gray-600 dark:text-gray-400"></p>
                </div>
            </div>
        </div>
    </div>

    <footer class="shrink-0 bg-gray-100 dark:bg-gray-840 rounded-t-[2.5rem]">
        
    </footer>

    <script type="module" src="static/js/pages/initializers/admin.mjs"></script>
</body>
</html>
