{% extends 'base.html' %}

{% block content %}
    <div class="w-full bg-gray-200 dark:bg-gray-800">
        <div class="max-w-xl md:max-w-4xl lg:max-w-7xl mx-auto">
            <div class="flex flex-col gap-1 pb-10">
                <div class="flex w-full items-center justify-center">
                    <img class="max-h-96 object-cover object-center" src="/static/images/404.png">
                </div>
                <h1 class="text-gray-700 dark:text-gray-350 text-4xl md:text-5xl lg:text-6xl text-center">
                    Страница не найдена :(
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block include_js %}

{% endblock %}