{% extends 'base.html' %}

{% block content %}
    <div class="w-full">
        <div class="max-w-xl md:max-w-4xl lg:max-w-7xl mx-auto p-4">
            <div class="relative">
                <h1 id="project-title" class="absolute top-5 left-5 text-5xl text-center md:text-left text-white z-30">Project title</h1>
                <div class="h-[400px]">{% include 'components/carousel.html' %}</div>
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-2 p-4 gap-4">
                <div class="flex flex-1 flex-col">
                    <h2 class="text-3xl font-medium text-gray-550 dark:text-gray-400">Знакомьтесь</h2>
                    <h2 class="text-3xl font-medium text-gray-800 dark:text-gray-300">ЖК "Королёв" - космос комфорта</h2>
                </div>
                <div class="flex flex-1 flex-col gap-4 text-gray-800 dark:text-gray-400">
                    <p>
                        Жилой комплекс, где технологии и уют соединяются, а современная архитектура отражает дух будущего. Большие кухни, 
                        панорамные лоджии, стеклянные входные группы и подсветка фасадов создают атмосферу комфорта и легкости.
                    </p>
                    <p>
                        Огороженная территория, видеонаблюдение, тематические детские площадки и развитая инфраструктура делают жизнь 
                        здесь по-настоящему удобной.
                    </p>
                    <p>
                        ЖК «Королёв» — твой космос начинается дома.
                    </p>
                </div>
            </div>
        </div>

        <div class="rounded-t-[2.5rem] bg-gray-200 dark:bg-gray-800">
            <div class="max-w-xl md:max-w-4xl lg:max-w-7xl mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class="flex flex-1 flex-col items-center justify-center p-4">
                        <div class="flex w-full justify-start">
                            <div class="flex flex-row flex-wrap bg-gray-300 dark:bg-gray-600 rounded-2xl rounded-br-none rounded-bl-none p-[3px]">
                                <label class="inline-flex items-center cursor-pointer">
                                    <input type="checkbox" class="peer hidden" />
                                    <div class="min-w-20 flex items-center justify-center rounded-2xl p-2 bg-gray-300 dark:bg-gray-600 hover:bg-primary-500 transition peer-checked:bg-primary-500 text-black dark:text-gray-300 hover:text-gray-200 peer-checked:text-gray-200">
                                        <span>Этаж</span>
                                    </div>
                                </label>
                                <label class="inline-flex items-center cursor-pointer">
                                    <input type="checkbox" class="peer hidden" />
                                    <div class="min-w-20 flex items-center justify-center rounded-2xl p-2 bg-gray-300 dark:bg-gray-600 hover:bg-primary-500 transition peer-checked:bg-primary-500 text-black dark:text-gray-300 hover:text-gray-200 peer-checked:text-gray-200">
                                        <span>Доска</span>
                                    </div>
                                </label>
                                <label class="inline-flex items-center cursor-pointer">
                                    <input type="checkbox" class="peer hidden" />
                                    <div class="min-w-20 flex items-center justify-center rounded-2xl p-2 bg-gray-300 dark:bg-gray-600 hover:bg-primary-500 transition peer-checked:bg-primary-500 text-black dark:text-gray-300 hover:text-gray-200 peer-checked:text-gray-200">
                                        <span>Генплан</span>
                                    </div>
                                </label>
                                <label class="inline-flex items-center cursor-pointer">
                                    <input type="checkbox" class="peer hidden" />
                                    <div class="min-w-20 flex items-center justify-center rounded-2xl p-2 bg-gray-300 dark:bg-gray-600 hover:bg-primary-500 transition peer-checked:bg-primary-500 text-black dark:text-gray-300 hover:text-gray-200 peer-checked:text-gray-200">
                                        <span>На карте</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                        
                        <div class="flex w-full min-h-[300px] md:min-h-[400px] bg-gray-300 dark:bg-gray-600 rounded-3xl rounded-tl-none p-2">
                            <svg class="w-full text-black ">
                                <use href="/static/svg/korolev-floor.svg#img"></use>
                            </svg>
                        </div>

                        <div class="flex w-full min-h-[300px] md:min-h-[400px] bg-gray-300 dark:bg-gray-600 rounded-3xl rounded-tl-none p-2 hidden">
                            {% include 'components/dynamic-image.html' %}
                        </div>

                        <div class="flex w-full min-h-[300px] md:min-h-[400px] bg-gray-300 dark:bg-gray-600 rounded-3xl rounded-tl-none p-2 hidden">
                            {% include 'components/dynamic-image.html' %}
                        </div>

                        <div class="flex w-full min-h-[300px] md:min-h-[400px] bg-gray-300 dark:bg-gray-600 rounded-3xl rounded-tl-none p-2 hidden">
                            <iframe class="rounded-xl w-full h-full" src="https://yandex.ru/map-widget/v1/?um=constructor%3A067d714827d96e0f2fb3e273d50251a07fd3f7f8620f798f09126cba41ed185c&amp;source=constructor" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="flex flex-1 flex-col gap-4 py-4 px-2">
                        <div class="flex flex-col lg:flex-row gap-2">
                            <div class="flex flex-col gap-1 w-full">
                                <span class="text-xs text-gray-600 dark:text-gray-500">Количество комнат</span>
                                <div class="flex flex-row flex-wrap gap-1">
                                    <label class="inline-flex items-center cursor-pointer">
                                        <input type="checkbox" class="peer hidden" />
                                        <div class="min-w-16 flex items-center justify-center rounded-2xl p-2 bg-gray-300 dark:bg-gray-600 hover:bg-primary-500 transition peer-checked:bg-primary-500 text-black dark:text-gray-300 hover:text-gray-200 peer-checked:text-gray-200">
                                            <span>Студия</span>
                                        </div>
                                    </label>
                                    <label class="inline-flex items-center cursor-pointer">
                                        <input type="checkbox" class="peer hidden" />
                                        <div class="min-w-16 flex items-center justify-center rounded-2xl p-2 bg-gray-300 dark:bg-gray-600 hover:bg-primary-500 transition peer-checked:bg-primary-500 text-black dark:text-gray-300 hover:text-gray-200 peer-checked:text-gray-200">
                                            <span>1</span>
                                        </div>
                                    </label>
                                    <label class="inline-flex items-center cursor-pointer">
                                        <input type="checkbox" class="peer hidden" />
                                        <div class="min-w-16 flex items-center justify-center rounded-2xl p-2 bg-gray-300 dark:bg-gray-600 hover:bg-primary-500 transition peer-checked:bg-primary-500 text-black dark:text-gray-300 hover:text-gray-200 peer-checked:text-gray-200">
                                            <span>2</span>
                                        </div>
                                    </label>
                                    <label class="inline-flex items-center cursor-pointer">
                                        <input type="checkbox" class="peer hidden" />
                                        <div class="min-w-16 flex items-center justify-center rounded-2xl p-2 bg-gray-300 dark:bg-gray-600 hover:bg-primary-500 transition peer-checked:bg-primary-500 text-black dark:text-gray-300 hover:text-gray-200 peer-checked:text-gray-200">
                                            <span>3+</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                                                    
                            <div class="relative flex flex-col gap-1 w-full">
                                <span class="text-xs text-gray-600 dark:text-gray-500">Стоимость, млн ₽</span>
                                <div class="relative flex flex-col bg-gray-300 dark:bg-gray-600 rounded-2xl gap-2 p-2">
                                    <div class="flex items-center justify-between gap-2 px-2">
                                        <div class="flex items-center gap-1">
                                            <span class="text-gray-500 dark:text-gray-400">от</span>
                                            <input type="number" class="w-14 outline-none bg-transparent no-spin text-black dark:text-gray-300">
                                        </div>
                                        <span class="text-gray-500 dark:text-gray-400">-</span>
                                        <div class="flex items-center gap-1">
                                            <span class="text-gray-500 dark:text-gray-400">до</span>
                                            <input type="number" class="w-14 outline-none bg-transparent no-spin text-black dark:text-gray-300">
                                        </div>
                                    </div>
                                    <div class="absolute -bottom-2 flex flex-row px-2">
                                        <input type="range" min="0" max="7" step="0.1" class="flex-1 w-full range-slider bg-transparent appearance-none"/>
                                        <input type="range" min="7" max="15" step="0.1" class="flex-1 w-full range-slider bg-transparent appearance-none"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-row flex-wrap gap-1">
                            <label class="inline-flex items-center cursor-pointer">
                                <input type="checkbox" class="peer hidden" />
                                <div class="min-w-16 flex items-center justify-center rounded-2xl py-1 px-2 bg-gray-300 dark:bg-gray-600 hover:bg-primary-500 transition peer-checked:bg-primary-500 text-black dark:text-gray-300 hover:text-gray-200 peer-checked:text-gray-200">
                                    <span>Балкон</span>
                                </div>
                            </label>
                            <label class="inline-flex items-center cursor-pointer">
                                <input type="checkbox" class="peer hidden" />
                                <div class="min-w-16 flex items-center justify-center rounded-2xl py-1 px-2 bg-gray-300 dark:bg-gray-600 hover:bg-primary-500 transition peer-checked:bg-primary-500 text-black dark:text-gray-300 hover:text-gray-200 peer-checked:text-gray-200">
                                    <span>Линейная планировка</span>
                                </div>
                            </label>
                            <label class="inline-flex items-center cursor-pointer">
                                <input type="checkbox" class="peer hidden" />
                                <div class="min-w-16 flex items-center justify-center rounded-2xl py-1 px-2 bg-gray-300 dark:bg-gray-600 hover:bg-primary-500 transition peer-checked:bg-primary-500 text-black dark:text-gray-300 hover:text-gray-200 peer-checked:text-gray-200">
                                    <span>Линейная планировка</span>
                                </div>
                            </label>
                        </div>
                        <div class="flex flex-row flex-wrap gap-1">
                            <button class="bg-primary-600 hover:bg-primary-700 dark:bg-primary-700 dark:hover:bg-primary-600 text-white dark:text-gray-300 dark:hover:text-gray-100 rounded-3xl text-sm px-4 py-2 transition-all active:scale-95">Показать 5 квартир</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-gray-200 dark:bg-gray-800">
            <div class="rounded-t-[2.5rem] bg-gray-100 dark:bg-gray-840">
                <div class="flex flex-col gap-2 max-w-xl md:max-w-4xl lg:max-w-7xl mx-auto">
                    <div class="grid grid-cols-1 lg:grid-cols-2 p-4 gap-4">
                        <div class="flex flex-1 flex-col">
                            <h2 class="text-3xl font-medium text-gray-550 dark:text-gray-400">Что там за дверью?</h2>
                            <h2 class="text-3xl font-medium text-gray-800 dark:text-gray-300">Давайте посмотрим</h2>
                        </div>
                        <div class="flex flex-1 flex-col gap-4 text-gray-800 dark:text-gray-400">
                            <p>
                                Как будет выглядеть отделка в вашем новом доме.
                            </p>
                            <p>
                                В варианте без отделки мы установили входную дверь и окна, застеклили лоджию. 
                                Подготовили пол к укладке ламината или линолеума, провели электрику по комнатам. 
                                Квартира станет чистым холстом, где можно воплотить любой интерьер.
                            </p>
                        </div>
                    </div>
                    <div class="h-[400px] p-4">{% include 'components/carousel.html' %}</div>

                    <div class="grid grid-cols-1 lg:grid-cols-2 p-4 gap-4">
                        <div class="flex flex-1 flex-col">
                            <h2 class="text-3xl font-medium text-gray-550 dark:text-gray-400">Благоустройство</h2>
                            <h2 class="text-3xl font-medium text-gray-800 dark:text-gray-300">Размеренная жизнь в спальном районе</h2>
                        </div>
                        <div class="flex flex-1 flex-col gap-4 text-gray-800 dark:text-gray-400">
                            <p>
                                Мы ценим приватность резидентов ЖК «Королёв» и их гостей, поэтому дворовая территория будет огорожена, 
                                а входные группы снабжены умными домофонами — безопасность и удобство без посторонних.
                                Пока вы подтягивайтесь на турниках на воркаут-площадке или отдыхаете с книгой, ваш ребенок с удовольствием 
                                играет со сверстниками на одной из современных площадок в космическом стиле.
                            </p>
                            <p>
                                Кстати, об автомобилях — во дворах, свободных от машин, можно не беспокоиться о безопасностипарковки. 
                                А парковки в большом количестве находятся за пределами дворов. Видеонаблюдение с онлайн доступом поможет позаботиться о сохранности вашего имущества.
                            </p>
                        </div>
                    </div>
                    <div class="h-[400px] p-4">{% include 'components/carousel.html' %}</div>

                    <div class="grid grid-cols-1 lg:grid-cols-2 p-4 gap-4">
                        <div class="flex flex-1 flex-col">
                            <h2 class="text-3xl font-medium text-gray-550 dark:text-gray-400">Траспортная доступность</h2>
                            <h2 class="text-3xl font-medium text-gray-800 dark:text-gray-300">До любой локации удобно и быстро</h2>
                        </div>
                        <div class="flex flex-1 flex-col gap-4 text-gray-800 dark:text-gray-400">
                            <p>
                                Куда бы вы ни запланировали отправиться, ЖК «Королёв» — это идеальное начало маршрута. 
                                Рядом главные улицы, Большая-Московская и Большая Санкт-Петербургская, которые доведут вас до театров, 
                                ресторанов, музеев, баров и других городских точек притяжения. 10 минут на автомобиле — и вы с семьей гуляете по парку в центре города.
                            </p>
                            <p>
                                Автобусные остановки в пешей доступности от жилого комплекса – всего в 2 минутах.
                            </p>
                            <p>
                                Новый корпус школы на более 1500 мест, физкультурно-оздоровительный комплекс с универсальным игровым залом, детский сад, поликлиника – всё рядом.
                            </p>
                        </div>
                    </div>
                    <div class="h-[400px] p-4">{% include 'components/carousel.html' %}</div>
                </div>
            </div>
            
        </div>

        <div class="rounded-t-[2.5rem] bg-gray-200 dark:bg-gray-800">
            <div class="flex flex-col gap-2 max-w-xl md:max-w-4xl lg:max-w-7xl mx-auto p-4">
                <div class="flex w-full py-2">
                    <h2 class="text-3xl font-medium text-gray-800 dark:text-gray-300">Выбирите квартиру</h2>
                </div>
                <div class="w-full">
                    <div class="flex flex-row flex-wrap gap-1">
                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" class="peer hidden" />
                            <div class="min-w-16 flex items-center justify-center rounded-2xl py-1 px-2 bg-gray-300 dark:bg-gray-600 hover:bg-primary-500 transition peer-checked:bg-primary-500 text-black dark:text-gray-300 hover:text-gray-200 peer-checked:text-gray-200">
                                <span>Студия</span>
                            </div>
                        </label>
                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" class="peer hidden" />
                            <div class="min-w-16 flex items-center justify-center rounded-2xl py-1 px-2 bg-gray-300 dark:bg-gray-600 hover:bg-primary-500 transition peer-checked:bg-primary-500 text-black dark:text-gray-300 hover:text-gray-200 peer-checked:text-gray-200">
                                <span>1</span>
                            </div>
                        </label>
                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" class="peer hidden" />
                            <div class="min-w-16 flex items-center justify-center rounded-2xl py-1 px-2 bg-gray-300 dark:bg-gray-600 hover:bg-primary-500 transition peer-checked:bg-primary-500 text-black dark:text-gray-300 hover:text-gray-200 peer-checked:text-gray-200">
                                <span>2</span>
                            </div>
                        </label>
                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" class="peer hidden" />
                            <div class="min-w-16 flex items-center justify-center rounded-2xl py-1 px-2 bg-gray-300 dark:bg-gray-600 hover:bg-primary-500 transition peer-checked:bg-primary-500 text-black dark:text-gray-300 hover:text-gray-200 peer-checked:text-gray-200">
                                <span>3+</span>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                       
                    <a href="" class="flex-1 space-y-2 bg-gray-300 hover:bg-gray-320 dark:bg-gray-760 dark:hover:bg-gray-730 rounded-3xl p-4">
                        <div class="h-[200px] lg:h-[200px]">
                            {% include 'components/dynamic-image.html' %}
                        </div>

                        <div class="flex justify-between">
                            <div class="flex flex-row text-sm items-center space-x-2 text-gray-600 dark:text-gray-400">
                                <span>1-комн.</span>
                                <div class="dot w-1 h-1 rounded-full bg-gray-600 dark:bg-gray-400"></div>
                                <span>32 м²</span>
                                <div class="dot w-1 h-1 rounded-full bg-gray-600 dark:bg-gray-400"></div>
                                <span>6/9 этаж</spn>
                            </div>
                            <span class="text-xl text-black dark:text-gray-300">7400000 Р</span>
                        </div>
                    </a>

                    <a href="" class="flex-1 space-y-2 bg-gray-300 hover:bg-gray-320 dark:bg-gray-760 dark:hover:bg-gray-730 rounded-3xl p-4">
                        <div class="h-[200px] lg:h-[200px]">
                            {% include 'components/dynamic-image.html' %}
                        </div>

                        <div class="flex justify-between">
                            <div class="flex flex-row text-sm items-center space-x-2 text-gray-600 dark:text-gray-400">
                                <span>1-комн.</span>
                                <div class="dot w-1 h-1 rounded-full bg-gray-600 dark:bg-gray-400"></div>
                                <span>32 м²</span>
                                <div class="dot w-1 h-1 rounded-full bg-gray-600 dark:bg-gray-400"></div>
                                <span>6/9 этаж</spn>
                            </div>
                            <span class="text-xl text-black dark:text-gray-300">7400000 Р</span>
                        </div>
                    </a>

                    <a href="" class="flex-1 space-y-2 bg-gray-300 hover:bg-gray-320 dark:bg-gray-760 dark:hover:bg-gray-730 rounded-3xl p-4">
                        <div class="h-[200px] lg:h-[200px]">
                            {% include 'components/dynamic-image.html' %}
                        </div>

                        <div class="flex justify-between">
                            <div class="flex flex-row text-sm items-center space-x-2 text-gray-600 dark:text-gray-400">
                                <span>1-комн.</span>
                                <div class="dot w-1 h-1 rounded-full bg-gray-600 dark:bg-gray-400"></div>
                                <span>32 м²</span>
                                <div class="dot w-1 h-1 rounded-full bg-gray-600 dark:bg-gray-400"></div>
                                <span>6/9 этаж</spn>
                            </div>
                            <span class="text-xl text-black dark:text-gray-300">7400000 Р</span>
                        </div>
                    </a>
                </div>
                <div class="flex w-full justify-center">
                    <button class="bg-primary-600 hover:bg-primary-500 rounded-3xl text-gray-100 dark:text-gray-300 hover:text-white py-2 px-4 transition-all active:scale-95">Показать еще</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block include_js %}
<script type="module" src="/static/js/pages/initializers/project.mjs"></script>
{% endblock %}