{% extends 'base.html' %}

{% block content %}
    <div class="w-full bg-gray-200 dark:bg-gray-800">
        <div class="max-w-xl md:max-w-4xl lg:max-w-7xl py-4 mx-auto">
            <div class="flex flex-col gap-4 p-4">
                <h1 class="text-black dark:text-gray-300 text-3xl md:text-4xl lg:text-4xl text-center lg:text-left">Новостройки в Великом Новгороде</h1>
                <div id="project-group-container" class="flex flex-col gap-4">
                </div>
            </div>
        </div>
    </div>

    {% include 'components/templates/project-group.html' %}
    {% include 'components/templates/project-item.html' %}
    {% include 'components/templates/apartment-item.html' %}

{% endblock %}

{% block include_js %}
<script type="module" src="/static/js/pages/initializers/projects.mjs"></script>
{% endblock %}