{% extends 'base.html' %}

{% block content %}
    <div class="w-full bg-gray-200 dark:bg-gray-800">
        <div class="max-w-xl md:max-w-xl lg:max-w-7xl mx-auto py-4">
            <div class="flex flex-col gap-4 px-4">
                <h1 class="text-black dark:text-gray-300 text-3xl md:text-4xl lg:text-4xl text-center lg:text-left">Акции и спецпредложения</h1>

                <div class="flex flex-col gap-4" id="promo-container">
                    <!-- dummy -->
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 p-4 rounded-3xl dark:bg-gray-840">
                        <div class="flex-1 w-full h-[300px] md:lg-h-[400px] lg:h-[400px]">{% include 'components/dynamic-image.html' %}</div>
                        <div class="flex-1 w-full whitespace-pre-line text-black dark:text-gray-300">Удача в квадрате — это скидка на квартиру мечты с ограниченным сроком действия.

                            Каждый месяц мы выбираем одну (или несколько) квартир в наших жилых комплексах и делаем на них специальную скидку.

                            ◾️Предложение действует строго один месяц или до момента продажи квартиры.
                            ◾️Следите за обновлениями — каждый месяц будут новые объекты и новые цены!

                            В августе в акции участвуют:
                            ▫️2-комнатная квартира в ЖК «Дом на набережной», №103, 64.9 м², 5 этаж — со скидкой 345 000 ₽.

                            Положение об акции «Удача в квадрате»
                        </div>
                    </div>

                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 p-4 rounded-3xl dark:bg-gray-840">
                        <div class="flex-1 w-full h-[300px] md:lg-h-[400px] lg:h-[400px]">{% include 'components/dynamic-image.html' %}</div>
                        <div class="flex-1 w-full whitespace-pre-line text-black dark:text-gray-300">Удача в квадрате — это скидка на квартиру мечты с ограниченным сроком действия.

                            Каждый месяц мы выбираем одну (или несколько) квартир в наших жилых комплексах и делаем на них специальную скидку.

                            ◾️Предложение действует строго один месяц или до момента продажи квартиры.
                            ◾️Следите за обновлениями — каждый месяц будут новые объекты и новые цены!

                            В августе в акции участвуют:
                            ▫️2-комнатная квартира в ЖК «Дом на набережной», №103, 64.9 м², 5 этаж — со скидкой 345 000 ₽.

                            Положение об акции «Удача в квадрате»
                        </div>
                    </div>
                    <!-- dummy end -->
                </div>
            </div>
        </div>
    </div>

    {% include 'components/templates/promo-item.html' %}

{% endblock %}

{% block include_js %}

{% endblock %}