<template id="carousel-dot-template">
    <button class="dot w-2 h-2 rounded-full bg-white/50"></button>
</template>

<template id="carousel-slide-without-button-template">
    <div name="slide" class="relative w-full h-full flex-shrink-0">
        <a name="img-ref" href=""><img name="img" src="" class="w-full h-full object-cover"/></a>
    </div>
</template>

<template id="carousel-slide-with-button-template">
    <div name="slide" class="relative w-full h-full flex-shrink-0">
        <a name="img-ref" href=""><img name="img" src="" class="w-full h-full object-cover"/></a>
        <a name="btn" href="" class="absolute left-4 bottom-4 bg-primary-600 hover:bg-primary-700 dark:bg-primary-700 dark:hover:bg-primary-600 text-white dark:text-gray-300 dark:hover:text-gray-100 rounded-3xl text-sm px-4 py-2 transition-all active:scale-95">Подробнее</a>
    </div>
</template>