<template id="modal-image-template">
    <div name="modal-main-container" class="fixed inset-0 z-50 hidden">
        <div class="absolute inset-0 bg-black/80 z-30"></div>

        <div class="absolute flex top-4 w-full items-center justify-between px-4 z-40">
            <div class="flex bg-black/20 hover:bg-black/40 h-12 w-12 lg:h-12 lg:w-12 rounded-xl items-center justify-center text-center p-1 z-40">
                <span name="extra-info" class="text-xl text-gray-400">

                </span>
            </div>
            <button name="close-button" class="flex bg-black/20 h-12 w-12 lg:h-12 lg:w-12 rounded-full p-2 items-center justify-center z-40 text-gray-400 hover:text-primary-500">
                <svg class="h-24 w-24">
                    <use href="/static/svg/x-mark.svg#x"></use>
                </svg>
            </button>
        </div>

        <div name="prev-button" class="absolute flex top-1/2 -translate-y-1/2 w-full items-center justify-between px-4 z-40">
            <button class="flex bg-black/20 hover:bg-black/40 h-12 w-12 lg:h-20 lg:w-20 rounded-full items-center justify-center z-40 text-gray-400 hover:text-primary-500">
                <svg class="h-24 w-24">
                    <use href="/static/svg/arrow-left.svg#arrow"></use>
                </svg>
            </button>

            <button name="next-button" class="flex bg-black/20 hover:bg-black/40 h-12 w-12 lg:h-20 lg:w-20 rounded-full items-center justify-center z-40 text-gray-400 hover:text-primary-500">
                <svg class="h-24 w-24">
                    <use href="/static/svg/arrow-right.svg#arrow"></use>
                </svg>
            </button>
        </div>

        <div class="flex items-center justify-center min-h-screen">
            <div class="flex-1 aspect-video max-w-6xl rounded-xl z-30">
                {% include 'components/dynamic-image.html' %}
            </div>
        </div>
    </div>
</template>