<template id="project-description-template">
    <div class="flex flex-col gap-2 max-w-xl md:max-w-4xl lg:max-w-7xl mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 p-4 gap-4">
            <div class="flex flex-1 flex-col">
                <h2 name="title" class="text-3xl font-medium text-gray-800 dark:text-gray-300 whitespace-pre-line">

                </h2>
            </div>
            <div name="text" class="flex flex-1 flex-col gap-4 text-gray-800 dark:text-gray-400 whitespace-pre-line">

            </div>
        </div>
        <div name="carousel" class="h-[400px] p-4">{% include 'components/carousel.html' %}</div>
    </div>
</template>