<template id="project-item-template">
    <a class="relative h-[200px] w-full">
        <div name="tags-container" class="absolute z-30 left-4 top-4 flex flex-wrap gap-2">

        </div>

        <div class="absolute z-30 left-4 bottom-4">
            <span name="title" class="text-5xl text-white"></span>
        </div>

        {% include 'components/dynamic-image.html' %}
    </a>
</template>

<template id="project-tag-template">
    <div class="flex items-center bg-black/50 px-2 rounded-xl">
        <span class="text-sm text-gray-100 dark:text-gray-300"></span>
    </div>
</template>
