<!DOCTYPE html>
 <html lang="en">
<head>
    <!-- <link rel="canonical" href="https://demo.themesberg.com/landwind/" /> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СЗ "Новгородсельстрой"</title>

    <!-- Meta SEO -->
    <meta name="title" content="СЗ &quot;Новгородсельстрой&quot;">
    <meta name="description" content="Get started with a free and open-source landing page built with Tailwind CSS and the Flowbite component library.">
    <meta name="robots" content="index, follow">
    <meta name="language" content="Russia">

    <!-- Social media share -->
    <meta property="og:title" content="СЗ &quot;Новгородсельстрой&quot;">
    <meta property="og:site_name" content="СЗ &quot;Новгородсельстрой&quot;">
    <!-- <meta property="og:url" content="https://demo.themesberg.com/landwind/"> -->
    <meta property="og:description" content="ООО &quot; Спецзастройщик &quot; Новгородсельстрой&quot; г. Великий Новгород, ул. Стратилатовская, 17">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/github/landwind/og-image.png"> -->

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/configs/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="/static/css/output.css" rel="stylesheet">

    {% block include_css %}

    {% endblock %}
</head>
<body class="flex flex-col min-h-screen">
    <header class="sticky w-full top-0 shrink-0 z-50 shadow">
        <nav class="bg-white border-gray-200 py-2.5 dark:bg-gray-900">
            <div class="flex items-center px-4 mx-auto">
                <div class="shrink-0">
                    <a href="/" class="flex text-gray-500 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-400">
                        <svg class="h-24 w-24">
                            <use href="/static/svg/logo_color.svg#logo"></use>
                        </svg>
                    </a>
                </div>

                <div class="flex-1 flex justify-center">
                    <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                        <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                            <li>
                                <a href="#" class="block py-2 pl-3 pr-4 text-gray-500 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-primary-400 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Главная</a>
                            </li>
                            <li>
                                <a href="#" class="block py-2 pl-3 pr-4 text-gray-500 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-primary-400 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Новостройки</a>
                            </li>
                            <li>
                                <a href="#" class="block py-2 pl-3 pr-4 text-gray-500 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-primary-400 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Акции</a>
                            </li>
                            <li>
                                <a href="#" class="block py-2 pl-3 pr-4 text-gray-500 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-primary-400 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Наши объекты</a>
                            </li>
                            <li>
                                <a href="#" class="block py-2 pl-3 pr-4 text-gray-500 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-primary-400 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="shrink-0">
                    <div class="flex gap-2 lg:order-2">
                        <div class="flex items-center lg:flex-col gap-2">
                                <a href="https://wa.me/79212057280" class="inline-flex intems-center space-x-2 text-gray-500 hover:text-primary-600 dark:text-gray-400 dark:hover:text-primary-400">
                                    <svg class="h-6 w-6 transition">
                                        <use href="/static/svg/whatsapp.svg#icon-whatsapp"></use>
                                    </svg>
                                    <span class="hidden lg:flex">+7(921)205-72-80</span>
                                </a>
                                <a href="tel:+78162774400" class="inline-flex intems-center space-x-2 text-gray-500 hover:text-primary-600 dark:text-gray-400 dark:hover:text-primary-400">
                                    <svg class="h-6 w-6 transition">
                                        <use href="/static/svg/phone.svg#icon-phone"></use>
                                    </svg>
                                    <span class="hidden lg:flex">+7(8162)77-44-00</span>
                                </a>
                        </div>
                        <div class="flex items-center lg:hidden">                    
                            <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center text-sm rounded-lg text-gray-500 hover:text-primary-600 dark:text-gray-400 dark:hover:text-primary-400 focus:outline-none" aria-controls="mobile-menu-2" aria-expanded="false">
                                <span class="sr-only">Меню</span>
                                <svg class="h-7 w-7 transition">
                                    <use href="/static/svg/burger.svg#burger"></use>
                                </svg>
                                <svg class="h-6 w-6 hidden transition">
                                    <use href="/static/svg/x-mark.svg#x"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-1 flex flex-col bg-gray-100 dark:bg-gray-800">
        {% block content %}

        {% endblock %}
    </main>

    <footer class="shrink-0 bg-gray-100 dark:bg-gray-800">
        <div class="flex flex-col w-full">
            <div class="flex flex-col p-4 gap-4 lg:gap-8">
                <div class="flex flex-col lg:flex-row items-center px-8 gap-8">
                    <div class="flex w-full lg:w-1/2 justify-center">
                        <div class="flex flex-col gap-4 lg:gap-8">
                            <p class="flex flex-col text-3xl lg:text-7xl font-medium text-left text-black dark:text-gray-300">
                                <span>Найдите</span>
                                <span>вашу квартиру!</span>
                            </p>
                            <div class="flex justify-center lg:justify-normal">
                                <a href="#" class="bg-primary-600 hover:bg-primary-700 dark:bg-primary-700 dark:hover:bg-primary-600 focus:ring-4 focus:ring-primary-300 text-white dark:text-gray-300 dark:hover:text-gray-100 rounded-lg text-center text-base lg:text-xl font-medium p-3 lg:p-5 transition">
                                Смотреть предложения
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="flex w-full lg:w-1/2 justify-center">
                        <div class="flex flex-col text-sm lg:text-lg">
                            <p class="flex items-center gap-2 text-black dark:text-gray-300">WhatsApp <a href="https://wa.me/79212057280" class="text-primary-600 hover:text-primary-400 dark:text-primary-400 dark:hover:text-primary-300">+7(921)205-72-80</a></p>
                            <p class="flex items-center gap-2 text-black dark:text-gray-300">Телефон <a href="tel:+7(8162)77-44-00" class="text-primary-600 hover:text-primary-400 dark:text-primary-400 dark:hover:text-primary-300">+7(921)205-72-80</a></p>
                            <p class="flex items-center gap-2 text-black dark:text-gray-300">E-mail <a href="mailto:cz-nss@mail.ru" class="text-primary-600 hover:text-primary-400 dark:text-primary-400 dark:hover:text-primary-300">cz-nss@mail.ru</a></p>
                            <p class="flex items-center gap-2 text-black dark:text-gray-300">VK <a href="https://vk.com/novgorodselstroy" class="text-primary-600 hover:text-primary-400 dark:text-primary-400 dark:hover:text-primary-300">Новгородсельстрой</a></p>
                            <p class="flex flex-col pt-4 lg:pt-8 text-left text-black dark:text-gray-300">
                                <span class="font-bold">ООО «Спецзастройщик</span>
                                <span class="font-bold">Новгородсельстрой</span>
                                <span>г. Великий Новгород,</span>
                                <span>ул. Стратилатовская, 17</span>
                            </p>
                        </div>
                    </div>
                </div>
                <p class="text-gray-400 text-xs">
                    Продажи осуществляется в соответствии с федеральным законом 214-ФЗ.
                    Проектные декларации и подлежащая раскрытию информация о застройщике и проектах строительства размещены на сайте единой информационной системы жилищного строительства (ЕИСЖС) 
                    <a href="#" class="text-primary-500 hover:text-primary-300 dark:text-primary-400 dark:hover:text-primary-300">наш.дом.рф.</a>
                    Фактический внешний вид возводимых зданий, отделка и дизайн интерьеров, в том числе мест общего пользования, элементы благоустройства могут отличаться от изображений, размещенных на сайте. Информация, изложенная на сайте, в том числе информация о наличии, характеристиках, планировках объектов, ценах, скидках и акциях носит исключительно ознакомительный характер и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437 ГК РФ.
                    <a href="#" class="text-primary-500 hover:text-primary-300 dark:text-primary-400 dark:hover:text-primary-300">Политика в отношении обработки персональных данных пользователей сайта</a>
                </p>
            </div>
            <div class="flex justify-center lg:justify-normal p-4 py-4 bg-white dark:bg-gray-900 shadow-[0_-4px_10px_rgba(0,0,0,0.1)]">
                <span class="text-sm text-gray-500 dark:text-gray-400">ГК Новгородсельстрой, 1992</span>
            </div>
        </div>
    </footer>

    {% block include_js %}

    {% endblock %}
</body>
</html>
