<!DOCTYPE html>
 <html lang="en">
<head>
    <!-- <link rel="canonical" href="https://demo.themesberg.com/landwind/" /> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СЗ "Новгородсельстрой"</title>

    <!-- Meta SEO -->
    <meta name="title" content="СЗ &quot;Новгородсельстрой&quot;">
    <meta name="description" content="Get started with a free and open-source landing page built with Tailwind CSS and the Flowbite component library.">
    <meta name="robots" content="index, follow">
    <meta name="language" content="Russia">

    <!-- Social media share -->
    <meta property="og:title" content="СЗ &quot;Новгородсельстрой&quot;">
    <meta property="og:site_name" content="СЗ &quot;Новгородсельстрой&quot;">
    <!-- <meta property="og:url" content="https://demo.themesberg.com/landwind/"> -->
    <meta property="og:description" content="ООО &quot; Спецзастройщик &quot; Новгородсельстрой&quot; г. Великий Новгород, ул. Стратилатовская, 17">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/github/landwind/og-image.png"> -->

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/configs/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="/static/css/output.css" rel="stylesheet">

    {% block include_css %}

    {% endblock %}
</head>
<body class="flex flex-col min-h-screen bg-gray-200 dark:bg-gray-800">
    <header class="sticky w-full top-0 shrink-0 z-50 shadow">
        <nav class="bg-white border-gray-200 py-2.5 dark:bg-gray-900">
            <div class="flex items-center px-4 mx-auto">
                <div class="shrink-0">
                    <a href="/" class="flex text-gray-500 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-400">
                        <svg class="h-24 w-24">
                            <use href="/static/svg/logo_color.svg#logo"></use>
                        </svg>
                    </a>
                </div>

                <div class="flex-1 flex justify-center">
                    <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                        <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                            <li>
                                <a href="/" class="block py-2 pl-3 pr-4 text-gray-500 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-primary-400 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 transition-all active:scale-95">Главная</a>
                            </li>
                            <li>
                                <a href="/projects" class="block py-2 pl-3 pr-4 text-gray-500 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-primary-400 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 transition-all active:scale-95">Новостройки</a>
                            </li>
                            <li>
                                <a href="/promo" class="block py-2 pl-3 pr-4 text-gray-500 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-primary-400 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 transition-all active:scale-95">Акции</a>
                            </li>
                            <li>
                                <a href="/gallery" class="block py-2 pl-3 pr-4 text-gray-500 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-primary-400 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 transition-all active:scale-95">Наши объекты</a>
                            </li>
                            <li>
                                <a href="/contacts" class="block py-2 pl-3 pr-4 text-gray-500 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-primary-400 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 transition-all active:scale-95">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="shrink-0">
                    <div class="flex gap-2 lg:order-2">
                        <div class="flex items-center lg:flex-col gap-2">
                                <a href="https://wa.me/79212057280" class="inline-flex intems-center space-x-2 text-gray-500 hover:text-primary-600 dark:text-gray-400 dark:hover:text-primary-400 transition-all active:scale-95">
                                    <svg class="h-6 w-6">
                                        <use href="/static/svg/whatsapp.svg#icon-whatsapp"></use>
                                    </svg>
                                    <span class="hidden lg:flex">+7(921)205-72-80</span>
                                </a>
                                <a href="tel:+78162774400" class="inline-flex intems-center space-x-2 text-gray-500 hover:text-primary-600 dark:text-gray-400 dark:hover:text-primary-400 transition-all active:scale-95">
                                    <svg class="h-6 w-6">
                                        <use href="/static/svg/phone.svg#icon-phone"></use>
                                    </svg>
                                    <span class="hidden lg:flex">+7(8162)77-44-00</span>
                                </a>
                        </div>
                        <div class="flex items-center lg:hidden">                    
                            <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center text-sm rounded-lg text-gray-500 hover:text-primary-600 dark:text-gray-400 dark:hover:text-primary-400 focus:outline-none" aria-controls="mobile-menu-2" aria-expanded="false">
                                <span class="sr-only">Меню</span>
                                <svg class="h-7 w-7 transition">
                                    <use href="/static/svg/burger.svg#burger"></use>
                                </svg>
                                <svg class="h-6 w-6 hidden transition">
                                    <use href="/static/svg/x-mark.svg#x"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-1 flex flex-col bg-gray-100 dark:bg-gray-840">
        {% block content %}

        {% endblock %}

        <div class="fixed inset-0 z-50 overflow-hidden hidden" name="modal-left">
            <div class="fixed inset-0 bg-black bg-opacity-50 transition-opacity"></div>
            
            <div class="fixed inset-y-0 left-0 flex max-w-full">
                <div class="relative w-screen max-w-md">
                <div class="flex h-full flex-col bg-gray-300 dark:bg-gray-800 shadow-xl md:rounded-tr-3xl md:rounded-br-3xl">
                    <div class="flex flex-col gap-2 p-4">
                        <div class="flex flex-row justify-between items-center">
                            <h2 class="text-3xl font-medium text-gray-700 dark:text-gray-400">Обратный звонок</h2>
                            <button name="close-button" class="flex h-12 w-12 lg:h-12 lg:w-12 rounded-full p-2 items-center justify-center z-40 text-gray-600 hover:text-primary-500">
                                <svg class="h-24 w-24">
                                    <use href="/static/svg/x-mark.svg#x"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 p-4">
                        <input type="tel" class="bg-gray-100 dark:bg-gray-700 focus:text-gray-800 dark:focus:text-gray-300 placeholder-gray-400 outline-none active:outline-none p-2 rounded-xl" placeholder="Номер телефон*" name="phone">
                        <input type="text" class="bg-gray-100 dark:bg-gray-700 focus:text-gray-800 dark:focus:text-gray-300 placeholder-gray-400 outline-none active:outline-none p-2 rounded-xl" placeholder="Как к вам обращаться?" name="name">
                        <button class="bg-primary-600 hover:bg-primary-700 dark:bg-primary-700 dark:hover:bg-primary-600 text-white dark:text-gray-300 dark:hover:text-gray-100 rounded-xl p-2 transition-all active:scale-95">Отправить</button>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="fixed inset-0 z-50 overflow-hidden" name="modal-right">
            <div class="fixed inset-0 bg-black bg-opacity-50 transition-opacity"></div>
            
            <div class="fixed inset-y-0 right-0 flex max-w-full">
                <div class="relative w-screen max-w-md">
                <div class="flex h-full flex-col bg-gray-300 dark:bg-gray-800 shadow-xl md:rounded-tl-3xl md:rounded-bl-3xl">
                    <div class="flex flex-col gap-2 p-4">
                        <div class="flex flex-row justify-between items-center">
                            <h2 class="text-3xl font-medium text-gray-700 dark:text-gray-400">Вопросы и предложения</h2>
                            <button name="close-button" class="flex h-12 w-12 lg:h-12 lg:w-12 rounded-full p-2 items-center justify-center z-40 text-gray-600 hover:text-primary-500">
                                <svg class="h-24 w-24">
                                    <use href="/static/svg/x-mark.svg#x"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 p-4">
                        <input type="text" class="bg-gray-100 dark:bg-gray-700 focus:text-gray-800 dark:focus:text-gray-300 placeholder-gray-400 outline-none active:outline-none p-2 rounded-xl" placeholder="Ваше имя*" name="name">
                        <input type="email" class="bg-gray-100 dark:bg-gray-700 focus:text-gray-800 dark:focus:text-gray-300 placeholder-gray-400 outline-none active:outline-none p-2 rounded-xl" placeholder="E-mail*" name="email">
                        <input type="text" class="bg-gray-100 dark:bg-gray-700 focus:text-gray-800 dark:focus:text-gray-300 placeholder-gray-400 outline-none active:outline-none p-2 rounded-xl" placeholder="Тема*" name="subject">
                        <textarea class="bg-gray-100 dark:bg-gray-700 focus:text-gray-800 dark:focus:text-gray-300 placeholder-gray-400 outline-none active:outline-none p-2 rounded-xl min-h-64" placeholder="Ваше сообщение"></textarea>
                        <button class="bg-primary-600 hover:bg-primary-700 dark:bg-primary-700 dark:hover:bg-primary-600 text-white dark:text-gray-300 dark:hover:text-gray-100 rounded-xl p-2 transition-all active:scale-95">Отправить</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="shrink-0 bg-gray-100 dark:bg-gray-840 rounded-t-[2.5rem]">
        <div class="w-full">
                <div class="max-w-xl md:max-w-4xl lg:max-w-7xl px-4 py-8 mx-auto">
                    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
                        <button class="flex justify-between items-center bg-gray-300 hover:bg-gray-320 dark:bg-gray-600 dark:hover:bg-gray-550 rounded-3xl px-3 group">
                            <div class="flex flex-col gap-2 p-3 text-left">
                                <span class="text-gray-800 group-hover:text-black dark:text-gray-200 dark:group-hover:text-gray-100 text-xl">Появились вопросы?</span>
                                <span class="text-gray-600 group-hover:text-gray-700 dark:text-gray-300 dark:group-hover:text-gray-200 text-lg">Мы перезвоним!</span>
                            </div>

                            <div class="flex items-center justify-center dot size-12 bg-primary-600 dark:bg-primary-700 group-hover:bg-primary-700 dark:group-hover:bg-primary-600 rounded-full">
                                <span class="text-white dark:text-gray-300 text-center">></span>
                            </div>
                        </button>
                        

                        <a href="https://vk.com/novgorodselstroy" target="_blank" rel="noopener noreferrer" class="flex justify-between items-center bg-gray-300 hover:bg-gray-320 dark:bg-gray-600 dark:hover:bg-gray-550 cursor-pointer rounded-3xl px-3 group">
                            <div class="flex flex-col gap-2 p-3 text-left">
                                <span class="text-gray-800 group-hover:text-black dark:text-gray-200 dark:group-hover:text-gray-100 text-xl">Хотите быть в курсе событий?</span>
                                <span class="text-gray-600 group-hover:text-gray-700 dark:text-gray-300 dark:group-hover:text-gray-200 text-lg">Наша группа в VK!</span>
                            </div>

                            <div class="flex items-center justify-center dot size-12 bg-primary-600 dark:bg-primary-700 group-hover:bg-primary-700 dark:group-hover:bg-primary-600 rounded-full">
                                <span class="text-white dark:text-gray-300 text-center">></span>
                            </div>
                        </a>

                        <button class="flex justify-between items-center bg-gray-300 hover:bg-gray-320 dark:bg-gray-600 dark:hover:bg-gray-550 rounded-3xl px-3 group">
                            <div class="flex flex-col gap-2 p-3 text-left">
                                <span class="text-gray-800 group-hover:text-black dark:text-gray-200 dark:group-hover:text-gray-100 text-xl">Есть предложения?</span>
                                <span class="text-gray-600 group-hover:text-gray-700 dark:text-gray-300 dark:group-hover:text-gray-200 text-lg">Напишите нам!</span>
                            </div>

                            <div class="flex items-center justify-center dot size-12 bg-primary-600 dark:bg-primary-700 group-hover:bg-primary-700 dark:group-hover:bg-primary-600 rounded-full">
                                <span class="text-white dark:text-gray-300 text-center">></span>
                            </div>
                        </button>
                    </div>
                </div>
        </div>

        <div class="flex flex-col w-full">
            <div class="flex flex-col p-4 gap-4 lg:gap-8">
                <p class="text-gray-400 text-xs">
                    Продажи осуществляется в соответствии с федеральным законом 214-ФЗ.
                    Проектные декларации и подлежащая раскрытию информация о застройщике и проектах строительства размещены на сайте единой информационной системы жилищного строительства (ЕИСЖС) 
                    <a href="#" class="text-primary-500 hover:text-primary-300 dark:text-primary-400 dark:hover:text-primary-300">наш.дом.рф.</a>
                    Фактический внешний вид возводимых зданий, отделка и дизайн интерьеров, в том числе мест общего пользования, элементы благоустройства могут отличаться от изображений, размещенных на сайте. Информация, изложенная на сайте, в том числе информация о наличии, характеристиках, планировках объектов, ценах, скидках и акциях носит исключительно ознакомительный характер и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437 ГК РФ.
                    <a href="#" class="text-primary-500 hover:text-primary-300 dark:text-primary-400 dark:hover:text-primary-300">Политика в отношении обработки персональных данных пользователей сайта</a>
                </p>
            </div>
            <div class="flex justify-center lg:justify-normal p-4 py-4 bg-white dark:bg-gray-900 shadow-[0_-4px_10px_rgba(0,0,0,0.1)]">
                <span class="text-sm text-gray-500 dark:text-gray-400">ГК Новгородсельстрой, 1992</span>
            </div>
        </div>
    </footer>

    {% block include_js %}

    {% endblock %}
</body>
</html>
